In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.model_selection import train_test_split

In [2]:
us_gas_data = pd.read_csv('../Resources/Datasets/cleaned_data/us_gas_data.csv')
us_gas_data

,Year,Month,Gas_Production(Mmcf),Gas_Consumption(Mmcf),Import_price($/Mcf),Export_price($/Mcf),Total Imports (Mmcf),Total Exports (Mmcf),all_grades($/Gallon),regular($/Gallon),midgrade($/Gallon),premium($/Gallon),diesel($/Gallon),Volumn(Mmcf)
0,2022,2,2856356,3040029.0,5.62,8.22,259389,545563,3.611,3.517,3.939,4.210,4.032,5997164.0
1,2022,1,3180818,3591557.0,6.87,7.04,296179,610102,3.413,3.315,3.766,4.036,3.724,6653327.0
2,2021,12,3266272,2979653.0,4.74,7.40,252626,620886,3.406,3.307,3.771,4.034,3.641,7647859.0
3,2021,11,3161306,2659971.0,5.18,8.10,242405,556982,3.491,3.395,3.836,4.098,3.727,7971480.0
4,2021,10,3219612,2237715.0,4.79,7.97,228203,545055,3.384,3.291,3.723,3.979,3.612,8103211.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,2001,5,1763141,1522382.0,4.95,5.50,321878,28981,1.738,1.702,1.785,1.869,1.496,5749464.0
250,2001,4,1703310,1807170.0,5.35,5.65,318573,23637,1.591,1.552,1.646,1.732,1.422,5252851.0
251,2001,3,1766754,2246633.0,5.42,4.93,358103,32121,1.450,1.409,1.506,1.596,1.399,5041971.0
252,2001,2,1582557,2309464.0,6.45,5.80,328289,26882,1.490,1.450,1.544,1.635,1.492,5240820.0
253,2001,1,1753237,2676998.0,9.47,7.48,373077,25547,1.487,1.447,1.541,1.630,1.524,5609446.0

In [3]:
us_gas_data.columns

Index(['Year', 'Month', 'Gas_Production(Mmcf)', 'Gas_Consumption(Mmcf)',
       'Import_price($/Mcf)', 'Export_price($/Mcf)', 'Total Imports (Mmcf)',
       'Total Exports (Mmcf)', 'all_grades($/Gallon)', 'regular($/Gallon)',
       'midgrade($/Gallon)', 'premium($/Gallon)', 'diesel($/Gallon)',
       'Volumn(Mmcf)'],
      dtype='object')

In [4]:
us_gas_data.dtypes

Year                       int64
Month                      int64
Gas_Production(Mmcf)       int64
Gas_Consumption(Mmcf)    float64
Import_price($/Mcf)      float64
Export_price($/Mcf)      float64
Total Imports (Mmcf)       int64
Total Exports (Mmcf)       int64
all_grades($/Gallon)     float64
regular($/Gallon)        float64
midgrade($/Gallon)       float64
premium($/Gallon)        float64
diesel($/Gallon)         float64
Volumn(Mmcf)             float64
dtype: object

In [5]:
us_gas_data = us_gas_data.astype({'Gas_Production(Mmcf)':float,
              'Total Imports (Mmcf)' :float,
              'Total Exports (Mmcf)':float})
us_gas_data.dtypes

Year                       int64
Month                      int64
Gas_Production(Mmcf)     float64
Gas_Consumption(Mmcf)    float64
Import_price($/Mcf)      float64
Export_price($/Mcf)      float64
Total Imports (Mmcf)     float64
Total Exports (Mmcf)     float64
all_grades($/Gallon)     float64
regular($/Gallon)        float64
midgrade($/Gallon)       float64
premium($/Gallon)        float64
diesel($/Gallon)         float64
Volumn(Mmcf)             float64
dtype: object

In [6]:
us_gas_data.describe()

,Year,Month,Gas_Production(Mmcf),Gas_Consumption(Mmcf),Import_price($/Mcf),Export_price($/Mcf),Total Imports (Mmcf),Total Exports (Mmcf),all_grades($/Gallon),regular($/Gallon),midgrade($/Gallon),premium($/Gallon),diesel($/Gallon),Volumn(Mmcf)
count,254.000000,254.000000,2.540000e+02,2.540000e+02,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,2.540000e+02
mean,2011.086614,6.460630,2.130387e+06,2.127122e+06,4.459764,4.955591,288559.976378,168158.531496,2.629945,2.562823,2.753433,2.909291,2.798303,6.906497e+06
std,6.121334,3.473847,5.071507e+05,4.740569e+05,2.161772,1.964109,58264.662838,146897.706073,0.718712,0.713631,0.736901,0.761305,0.844100,8.031707e+05
min,2001.000000,1.000000,1.400941e+06,1.368369e+06,1.510000,2.040000,174225.000000,23637.000000,1.127000,1.086000,1.179000,1.271000,1.152000,5.041971e+06
25%,2006.000000,3.000000,1.694616e+06,1.743070e+06,2.732500,3.510000,238368.750000,64439.500000,2.198500,2.109250,2.287750,2.430750,2.311250,6.288639e+06
50%,2011.000000,6.000000,1.994746e+06,2.068744e+06,4.035000,4.450000,282064.500000,118918.500000,2.640500,2.555000,2.786000,2.950500,2.839500,7.002317e+06
75%,2016.000000,9.000000,2.428004e+06,2.428177e+06,5.627500,6.015000,333876.250000,224495.750000,3.124000,3.062000,3.247750,3.470250,3.374000,7.545798e+06
max,2022.000000,12.000000,3.266272e+06,3.591557e+06,11.990000,12.680000,426534.000000,620886.000000,4.114000,4.062000,4.181000,4.298000,4.703000,8.384087e+06

## Annual gas ETL

In [7]:
#group by data 'year'- all gas data
annual_gas_production = us_gas_data.groupby(['Year']).mean()['Gas_Production(Mmcf)']
annual_gas_consumption = us_gas_data.groupby(['Year']).mean()['Gas_Consumption(Mmcf)']
annual_gas_import_p = us_gas_data.groupby(['Year']).mean()['Import_price($/Mcf)']
annual_gas_export_p = us_gas_data.groupby(['Year']).mean()['Export_price($/Mcf)']
annual_total_import = us_gas_data.groupby(['Year']).mean()['Total Imports (Mmcf)']
annual_total_export = us_gas_data.groupby(['Year']).mean()['Total Exports (Mmcf)']
annual_avg_all_grades_p = us_gas_data.groupby(['Year']).mean()['all_grades($/Gallon)']
annual_avg_reg_p = us_gas_data.groupby(['Year']).mean()['regular($/Gallon)']
annual_avg_midg_p = us_gas_data.groupby(['Year']).mean()['midgrade($/Gallon)']
annual_avg_pre_p = us_gas_data.groupby(['Year']).mean()['premium($/Gallon)']
annual_avg_dis_p = us_gas_data.groupby(['Year']).mean()['diesel($/Gallon)']
annual_avg_vol = us_gas_data.groupby(['Year']).mean()['Volumn(Mmcf)']

In [8]:
# create annual summary, reorder columns
annual_gas_summary = pd.DataFrame({
    'avg_production(Mmcf)': annual_gas_production,
    'avg_consumption(Mmcf)': annual_gas_consumption,
    'avg_vol(Mmcf)': annual_avg_vol,
    'avg_total_import(Mmcf)': annual_total_import,
    'avg_toal_export(Mmcf)': annual_total_export,
    'avg_import_price($/Mmcf)': annual_gas_import_p,
    'avg_export_price($/Mmcf)': annual_gas_export_p,
    'avg_all_grades_p($/Gallon)': annual_avg_all_grades_p,
    'avg_reg_p($/Gallon)': annual_avg_reg_p,
    'avg_midg_p($/Gallon)': annual_avg_midg_p,
    'avg_pre_p($/Gallon)': annual_avg_pre_p,
    'avg_dis_p($/Gallon)': annual_avg_dis_p 
})

annual_gas_summary.head()

,avg_production(Mmcf),avg_consumption(Mmcf),avg_vol(Mmcf),avg_total_import(Mmcf),avg_toal_export(Mmcf),avg_import_price($/Mmcf),avg_export_price($/Mmcf),avg_all_grades_p($/Gallon),avg_reg_p($/Gallon),avg_midg_p($/Gallon),avg_pre_p($/Gallon),avg_dis_p($/Gallon)
Year,,,,,,,,,,,,
2001,1.714191e+06,1.853219e+06,6.335558e+06,331411.500000,31106.583333,4.357500,4.383333,1.466167,1.426000,1.518833,1.607917,1.404083
2002,1.657065e+06,1.918918e+06,6.715545e+06,334622.000000,43019.333333,3.138333,3.339167,1.381833,1.340333,1.435250,1.525833,1.315333
2003,1.664530e+06,1.856375e+06,6.256805e+06,328645.750000,56660.250000,5.180833,5.582500,1.601083,1.559167,1.656333,1.746000,1.508333
2004,1.626458e+06,1.866879e+06,6.460054e+06,354879.916667,71178.083333,5.779167,6.069167,1.891250,1.848750,1.946917,2.038417,1.807500
2005,1.577258e+06,1.834536e+06,6.492884e+06,361752.833333,60716.666667,8.085000,8.010833,2.312167,2.268167,2.367583,2.465917,2.398667

In [9]:
annual_gas_summary.dtypes

avg_production(Mmcf)          float64
avg_consumption(Mmcf)         float64
avg_vol(Mmcf)                 float64
avg_total_import(Mmcf)        float64
avg_toal_export(Mmcf)         float64
avg_import_price($/Mmcf)      float64
avg_export_price($/Mmcf)      float64
avg_all_grades_p($/Gallon)    float64
avg_reg_p($/Gallon)           float64
avg_midg_p($/Gallon)          float64
avg_pre_p($/Gallon)           float64
avg_dis_p($/Gallon)           float64
dtype: object

In [10]:
annual_gas_summary= annual_gas_summary.reset_index()

In [11]:
annual_gas_summary

,Year,avg_production(Mmcf),avg_consumption(Mmcf),avg_vol(Mmcf),avg_total_import(Mmcf),avg_toal_export(Mmcf),avg_import_price($/Mmcf),avg_export_price($/Mmcf),avg_all_grades_p($/Gallon),avg_reg_p($/Gallon),avg_midg_p($/Gallon),avg_pre_p($/Gallon),avg_dis_p($/Gallon)
0,2001,1.714191e+06,1.853219e+06,6.335558e+06,331411.500000,31106.583333,4.357500,4.383333,1.466167,1.426000,1.518833,1.607917,1.404083
1,2002,1.657065e+06,1.918918e+06,6.715545e+06,334622.000000,43019.333333,3.138333,3.339167,1.381833,1.340333,1.435250,1.525833,1.315333
2,2003,1.664530e+06,1.856375e+06,6.256805e+06,328645.750000,56660.250000,5.180833,5.582500,1.601083,1.559167,1.656333,1.746000,1.508333
3,2004,1.626458e+06,1.866879e+06,6.460054e+06,354879.916667,71178.083333,5.779167,6.069167,1.891250,1.848750,1.946917,2.038417,1.807500
4,2005,1.577258e+06,1.834536e+06,6.492884e+06,361752.833333,60716.666667,8.085000,8.010833,2.312167,2.268167,2.367583,2.465917,2.398667
5,2006,1.617473e+06,1.808256e+06,6.860307e+06,348856.833333,60329.750000,6.866667,6.831667,2.615083,2.569167,2.673000,2.775917,2.705000
6,2007,1.683029e+06,1.925316e+06,6.837505e+06,383965.166667,68537.833333,6.872500,6.905833,2.845500,2.798583,2.905667,3.009500,2.881667
7,2008,1.759338e+06,1.939751e+06,6.592182e+06,332008.416667,80271.750000,8.774167,8.774167,3.305083,3.251833,3.372917,3.491750,3.806833
8,2009,1.803995e+06,1.909173e+06,7.052343e+06,312613.333333,89363.083333,4.136667,4.354167,2.396667,2.343500,2.464500,2.581250,2.463667
9,2010,1.865156e+06,2.007233e+06,7.052461e+06,311730.000000,94732.416667,4.464167,5.030000,2.833583,2.780333,2.900917,3.020083,2.989333
10,2011,2.003029e+06,2.039785e+06,7.004209e+06,289057.750000,125470.833333,4.221667,4.640833,3.576417,3.520917,3.644167,3.771000,3.845333
11,2012,2.106940e+06,2.128207e+06,7.501633e+06,261482.416667,134902.333333,2.880833,3.223333,3.686167,3.625000,3.762000,3.900250,3.970417
12,2013,2.130186e+06,2.179589e+06,7.149331e+06,240279.666667,131034.416667,3.815000,4.081667,3.576417,3.505917,3.663167,3.822917,3.922917
13,2014,2.291480e+06,2.216115e+06,6.620863e+06,224614.916667,126186.833333,5.380833,5.410000,3.442000,3.363167,3.544833,3.715750,3.828667
14,2015,2.397670e+06,2.270321e+06,7.171337e+06,226507.750000,148626.083333,3.153333,3.080000,2.513000,2.422167,2.638167,2.823333,2.706583
15,2016,2.366671e+06,2.287018e+06,7.577976e+06,250536.500000,194620.666667,2.337500,2.745833,2.252500,2.145833,2.397000,2.618167,2.306167
16,2017,2.436486e+06,2.261873e+06,7.304990e+06,252768.916667,262817.000000,2.690000,3.535833,2.530333,2.417000,2.684083,2.918917,2.653667
17,2018,2.750739e+06,2.511578e+06,6.654810e+06,240737.000000,300653.500000,2.812500,3.855833,2.817333,2.723000,3.059500,3.298250,3.178833
18,2019,3.037243e+06,2.594337e+06,6.901474e+06,228476.333333,388138.083333,2.588333,3.630833,2.685750,2.598250,2.994250,3.246333,3.055583
19,2020,3.016870e+06,2.539351e+06,7.456273e+06,212611.666667,440300.666667,2.086667,3.624167,2.259750,2.168833,2.584250,2.835333,2.555250
20,2021,3.084288e+06,2.523619e+06,7.134772e+06,233996.833333,554384.000000,3.735833,6.512500,3.093750,3.001167,3.425583,3.680000,3.280583
21,2022,3.018587e+06,3.315793e+06,6.325246e+06,277784.000000,577832.500000,6.245000,7.630000,3.512000,3.416000,3.852500,4.123000,3.878000

## Save to CSV

In [12]:
annual_gas_summary.to_csv('../Resources/Datasets/cleaned_data/Annual_us_gas_data.csv', index=False)

# Send it to our Database

In [13]:
from sqlalchemy import create_engine
from getpass import getpass

In [14]:
#store password variable
password = getpass("password")

passwordÂ·Â·Â·Â·Â·Â·Â·Â·

In [15]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\kimbe\anaconda3\envs\mlenv\lib\site-packages (2.9.3)
Note: you may need to restart the kernel to use updated packages.

In [16]:
# connect to database
engine = create_engine(f"postgresql://postgres:{password}@localhost:5432/gas_data")

In [17]:
# import my data to database
annual_gas_summary.to_sql(name="gas_data", con=engine, index = False, if_exists='append')

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Year" of relation "gas_data" does not exist
LINE 1: INSERT INTO gas_data ("Year", "avg_production(Mmcf)", "avg_c...
                              ^

[SQL: INSERT INTO gas_data ("Year", "avg_production(Mmcf)", "avg_consumption(Mmcf)", "avg_vol(Mmcf)", "avg_total_import(Mmcf)", "avg_toal_export(Mmcf)", "avg_import_price($/Mmcf)", "avg_export_price($/Mmcf)", "avg_all_grades_p($/Gallon)", "avg_reg_p($/Gallon)", "avg_midg_p($/Gallon)", "avg_pre_p($/Gallon)", "avg_dis_p($/Gallon)") VALUES (%(Year)s, %(avg_productionAMmcfZ)s, %(avg_consumptionAMmcfZ)s, %(avg_volAMmcfZ)s, %(avg_total_importAMmcfZ)s, %(avg_toal_exportAMmcfZ)s, %(avg_import_priceA$/MmcfZ)s, %(avg_export_priceA$/MmcfZ)s, %(avg_all_grades_pA$/GallonZ)s, %(avg_reg_pA$/GallonZ)s, %(avg_midg_pA$/GallonZ)s, %(avg_pre_pA$/GallonZ)s, %(avg_dis_pA$/GallonZ)s)]
[parameters: ({'Year': 2001, 'avg_productionAMmcfZ': 1714191.1666666667, 'avg_consumptionAMmcfZ': 1853218.5833333333, 'avg_volAMmcfZ': 6335558.333333333, 'avg_total_importAMmcfZ': 331411.5, 'avg_toal_exportAMmcfZ': 31106.583333333332, 'avg_import_priceA$/MmcfZ': 4.3575, 'avg_export_priceA$/MmcfZ': 4.383333333333334, 'avg_all_grades_pA$/GallonZ': 1.4661666666666668, 'avg_reg_pA$/GallonZ': 1.4260000000000002, 'avg_midg_pA$/GallonZ': 1.5188333333333333, 'avg_pre_pA$/GallonZ': 1.6079166666666669, 'avg_dis_pA$/GallonZ': 1.4040833333333333}, {'Year': 2002, 'avg_productionAMmcfZ': 1657065.0, 'avg_consumptionAMmcfZ': 1918918.4166666667, 'avg_volAMmcfZ': 6715545.416666667, 'avg_total_importAMmcfZ': 334622.0, 'avg_toal_exportAMmcfZ': 43019.333333333336, 'avg_import_priceA$/MmcfZ': 3.138333333333333, 'avg_export_priceA$/MmcfZ': 3.339166666666667, 'avg_all_grades_pA$/GallonZ': 1.3818333333333335, 'avg_reg_pA$/GallonZ': 1.3403333333333334, 'avg_midg_pA$/GallonZ': 1.43525, 'avg_pre_pA$/GallonZ': 1.5258333333333332, 'avg_dis_pA$/GallonZ': 1.3153333333333332}, {'Year': 2003, 'avg_productionAMmcfZ': 1664530.0, 'avg_consumptionAMmcfZ': 1856375.0, 'avg_volAMmcfZ': 6256804.666666667, 'avg_total_importAMmcfZ': 328645.75, 'avg_toal_exportAMmcfZ': 56660.25, 'avg_import_priceA$/MmcfZ': 5.180833333333333, 'avg_export_priceA$/MmcfZ': 5.5825000000000005, 'avg_all_grades_pA$/GallonZ': 1.6010833333333334, 'avg_reg_pA$/GallonZ': 1.5591666666666668, 'avg_midg_pA$/GallonZ': 1.6563333333333334, 'avg_pre_pA$/GallonZ': 1.7459999999999998, 'avg_dis_pA$/GallonZ': 1.5083333333333335}, {'Year': 2004, 'avg_productionAMmcfZ': 1626457.5833333333, 'avg_consumptionAMmcfZ': 1866878.75, 'avg_volAMmcfZ': 6460053.75, 'avg_total_importAMmcfZ': 354879.9166666667, 'avg_toal_exportAMmcfZ': 71178.08333333333, 'avg_import_priceA$/MmcfZ': 5.779166666666666, 'avg_export_priceA$/MmcfZ': 6.069166666666667, 'avg_all_grades_pA$/GallonZ': 1.89125, 'avg_reg_pA$/GallonZ': 1.84875, 'avg_midg_pA$/GallonZ': 1.9469166666666666, 'avg_pre_pA$/GallonZ': 2.0384166666666665, 'avg_dis_pA$/GallonZ': 1.8075}, {'Year': 2005, 'avg_productionAMmcfZ': 1577257.9166666667, 'avg_consumptionAMmcfZ': 1834536.3333333333, 'avg_volAMmcfZ': 6492883.916666667, 'avg_total_importAMmcfZ': 361752.8333333333, 'avg_toal_exportAMmcfZ': 60716.666666666664, 'avg_import_priceA$/MmcfZ': 8.084999999999999, 'avg_export_priceA$/MmcfZ': 8.010833333333332, 'avg_all_grades_pA$/GallonZ': 2.3121666666666667, 'avg_reg_pA$/GallonZ': 2.2681666666666667, 'avg_midg_pA$/GallonZ': 2.3675833333333336, 'avg_pre_pA$/GallonZ': 2.4659166666666668, 'avg_dis_pA$/GallonZ': 2.3986666666666667}, {'Year': 2006, 'avg_productionAMmcfZ': 1617472.9166666667, 'avg_consumptionAMmcfZ': 1808256.0, 'avg_volAMmcfZ': 6860306.666666667, 'avg_total_importAMmcfZ': 348856.8333333333, 'avg_toal_exportAMmcfZ': 60329.75, 'avg_import_priceA$/MmcfZ': 6.866666666666667, 'avg_export_priceA$/MmcfZ': 6.831666666666667, 'avg_all_grades_pA$/GallonZ': 2.615083333333333, 'avg_reg_pA$/GallonZ': 2.5691666666666664, 'avg_midg_pA$/GallonZ': 2.673, 'avg_pre_pA$/GallonZ': 2.775916666666667, 'avg_dis_pA$/GallonZ': 2.705}, {'Year': 2007, 'avg_productionAMmcfZ': 1683028.8333333333, 'avg_consumptionAMmcfZ': 1925316.1666666667, 'avg_volAMmcfZ': 6837505.0, 'avg_total_importAMmcfZ': 383965.1666666667, 'avg_toal_exportAMmcfZ': 68537.83333333333, 'avg_import_priceA$/MmcfZ': 6.8725, 'avg_export_priceA$/MmcfZ': 6.905833333333334, 'avg_all_grades_pA$/GallonZ': 2.8455, 'avg_reg_pA$/GallonZ': 2.798583333333333, 'avg_midg_pA$/GallonZ': 2.905666666666667, 'avg_pre_pA$/GallonZ': 3.0094999999999996, 'avg_dis_pA$/GallonZ': 2.8816666666666664}, {'Year': 2008, 'avg_productionAMmcfZ': 1759337.8333333333, 'avg_consumptionAMmcfZ': 1939750.8333333333, 'avg_volAMmcfZ': 6592182.166666667, 'avg_total_importAMmcfZ': 332008.4166666667, 'avg_toal_exportAMmcfZ': 80271.75, 'avg_import_priceA$/MmcfZ': 8.774166666666666, 'avg_export_priceA$/MmcfZ': 8.774166666666668, 'avg_all_grades_pA$/GallonZ': 3.3050833333333336, 'avg_reg_pA$/GallonZ': 3.2518333333333334, 'avg_midg_pA$/GallonZ': 3.372916666666667, 'avg_pre_pA$/GallonZ': 3.4917499999999997, 'avg_dis_pA$/GallonZ': 3.806833333333333}  ... displaying 10 of 22 total bound parameter sets ...  {'Year': 2021, 'avg_productionAMmcfZ': 3084287.9166666665, 'avg_consumptionAMmcfZ': 2523619.25, 'avg_volAMmcfZ': 7134772.0, 'avg_total_importAMmcfZ': 233996.83333333334, 'avg_toal_exportAMmcfZ': 554384.0, 'avg_import_priceA$/MmcfZ': 3.7358333333333333, 'avg_export_priceA$/MmcfZ': 6.512499999999999, 'avg_all_grades_pA$/GallonZ': 3.09375, 'avg_reg_pA$/GallonZ': 3.0011666666666668, 'avg_midg_pA$/GallonZ': 3.4255833333333334, 'avg_pre_pA$/GallonZ': 3.68, 'avg_dis_pA$/GallonZ': 3.280583333333333}, {'Year': 2022, 'avg_productionAMmcfZ': 3018587.0, 'avg_consumptionAMmcfZ': 3315793.0, 'avg_volAMmcfZ': 6325245.5, 'avg_total_importAMmcfZ': 277784.0, 'avg_toal_exportAMmcfZ': 577832.5, 'avg_import_priceA$/MmcfZ': 6.245, 'avg_export_priceA$/MmcfZ': 7.630000000000001, 'avg_all_grades_pA$/GallonZ': 3.512, 'avg_reg_pA$/GallonZ': 3.416, 'avg_midg_pA$/GallonZ': 3.8525, 'avg_pre_pA$/GallonZ': 4.122999999999999, 'avg_dis_pA$/GallonZ': 3.878})]
(Background on this error at: https://sqlalche.me/e/14/f405)

## Only all grades gas price